.navbar_main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list_container {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

.list_container>p {
    margin-right: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #6B7280;
}

.logo_container {
    width: 20%;
}

.list_signup {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.signup_container {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
     border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
    width: 11%;
    padding-left: 30px;

    
    
   
}   